*{
    margin: 0;
    padding: 0;
}

.body-general{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    color: #8d1c3d;
    background-color: #e1c396;
}

.titulo-principal{
    align-items: center;
}

.h1{
    text-align: center;
}

.alentar{
    margin-top: 30px;
}

.h2{
    text-align: center;
}

.arg-fra{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.paquetes{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    margin-top: 25px;
}

.formulario{
    text-align: center;
}

#login-incorrect{
    display: none;
}

#login{
    margin: 20px;
    padding: 20px;
}

.container-user{
    display: flex;
    justify-content: center;
    display: none;
}

#logout{
    display: none;
}

.arg{
    padding: 3px;
    background-image: linear-gradient(to right top, #FFFFFF, #75AADB);
}

.fra{
    padding: 3px;
    background-image: linear-gradient(to right top, #0055A4, #FFFFFF, #EF4135);
}