*{
    margin: 0;
    padding: 0;
}

.body-general{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
}

.titulo-principal{
    align-items: center;
}

.h1{
    text-align: center;
}

.alentar{
    margin-top: 30px;
}

.h2{
    text-align: center;
}

.arg-fra{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.paquetes{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    margin-top: 25px;
}

#login-incorrect{
    display: none;
}

#login{
    margin: 20px;
    padding: 20px;
}

.container-user{
    display: flex;
    justify-content: center;
    display: none;
}

#logout{
    display: none;
}